<%= stylesheet_link_tag "bootstrap", media: "all" %>
<%= stylesheet_link_tag "bootstrap-theme", media: "all" %>

<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= javascript_include_tag "bootstrap"%>

<table class="table table-striped">
	<thead>
		<tr class="navbar-inverse" style="color: white">
			<th>Device</th>
			<th>Model</th>
			<th>Temperature</th>
		</tr>
	</thead>
	<tbody>
		<br />
		<% @disks.each do |d| %>
		<tr>
			<td><%= d[:device] %></td>
			<td><%= d[:model] %></td>
			<td><%= d[:temp_c] %></td>
		</tr>
		<% end %>
	</tbody>
</table>